[Unit]
Description=Bike data collection daemon

[Service]
ExecStart=python3 /opt/data_collection_bike/collect.py

[Install]
WantedBy=multi-user.target