[Unit]
Description=Bike Data Collection Orchestrator

[Service]
ExecStart=python3 /opt/bike_data_collection/orchestrator.py

[Install]
WantedBy=multi-user.target